body {
font-family: Arial, sans-serif;
margin: 0;
background: #f4f4f4;
color: #333;
}

header {
background: #6C48BB;
color: white;
padding: 1rem;
text-align: center;
}

main {
padding: 2rem;
}

table {
width: 100%;
border-collapse: collapse;
background: white;
}

th, td {
padding: 10px;
border: 1px solid #ccc;
text-align: left;
}

th {
background: #FBA100;
}

button {
background-color: #6BAAA7;
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
}
